Node-Red flows/Control Titan Relay.json
[{"id":"642d91a297b08262","type":"tab","label":"Control Titan Relays","disabled":false,"info":"","env":[]},{"id":"15b3cee490c3a6fa","type":"junction","z":"642d91a297b08262","x":740,"y":440,"wires":[["8e8f375061a91ec4"]]},{"id":"96e4b81930fa45a0","type":"junction","z":"642d91a297b08262","x":760,"y":1100,"wires":[["2bb80e7dff4cabdc"]]},{"id":"5b58ff799cbd993a","type":"buffer-parser","z":"642d91a297b08262","name":"","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"buffer","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":590,"y":720,"wires":[["15b3cee490c3a6fa"]]},{"id":"d164bd9e0ebee80f","type":"switch","z":"642d91a297b08262","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"LOCK","vt":"str"},{"t":"eq","v":"UNLOCK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":720,"wires":[["0c886cd5dde476cf"],["55c93124b28c388c"]]},{"id":"79389febbe47ecfc","type":"ha-mqtt-lock","z":"642d91a297b08262","server":"4bbd32ecc75de9a7","device":"f0256506e30ce080","name":"Door 201","config":"{\"icon\":\"mdi:door\",\"object_id\":\"tecom_titan_door_201\",\"name\":\"Door 201 - West Wing Lower\"}","x":80,"y":1020,"wires":[["fa0b9b777b8585c4"]]},{"id":"fa0b9b777b8585c4","type":"switch","z":"642d91a297b08262","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"LOCK","vt":"str"},{"t":"eq","v":"UNLOCK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":1020,"wires":[["03b7fe9a31c390ab"],["df8183547c3ede56"]]},{"id":"24949e8440fa617b","type":"ha-mqtt-discovery","z":"642d91a297b08262","server":"4bbd32ecc75de9a7","x":360,"y":60,"wires":[]},{"id":"c77eccb7309bb5c2","type":"inject","z":"642d91a297b08262","name":"","props":[{"p":"payload"}],"repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":60,"wires":[["24949e8440fa617b"]]},{"id":"03b7fe9a31c390ab","type":"change","z":"642d91a297b08262","name":"door - normal","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e7080008a030201c93f7a 5e738000b29b3d","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1000,"wires":[["e504bb167c11eb14"]]},{"id":"df8183547c3ede56","type":"change","z":"642d91a297b08262","name":"door - active","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e60800089030202c97a86 5e738000b1db3c","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1040,"wires":[["e504bb167c11eb14"]]},{"id":"e504bb167c11eb14","type":"buffer-parser","z":"642d91a297b08262","name":"","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"buffer","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":630,"y":1020,"wires":[["96e4b81930fa45a0"]]},{"id":"0c886cd5dde476cf","type":"change","z":"642d91a297b08262","name":"door - normal","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e7080002603020111af38 5e738000e5dac3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":700,"wires":[["5b58ff799cbd993a"]]},{"id":"55c93124b28c388c","type":"change","z":"642d91a297b08262","name":"door - active","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e7080002503020211ebc8 5e738000e41b03","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":740,"wires":[["5b58ff799cbd993a"]]},{"id":"0c6a83428b2c154d","type":"ha-mqtt-lock","z":"642d91a297b08262","server":"4bbd32ecc75de9a7","device":"f0256506e30ce080","name":"Door 17","config":"{\"icon\":\"mdi:door\",\"object_id\":\"tecom_titan_door_17\",\"name\":\"Door 17 - Admin Area\"}","x":80,"y":720,"wires":[["d164bd9e0ebee80f"]]},{"id":"975c43ee6821e8ba","type":"ha-mqtt-lock","z":"642d91a297b08262","server":"4bbd32ecc75de9a7","device":"f0256506e30ce080","name":"Door 121","config":"{\"icon\":\"mdi:door\",\"object_id\":\"tecom_titan_door_121\",\"name\":\"Door 121 - Tenant Doors\"}","x":80,"y":1140,"wires":[["929ec8608721d709"]]},{"id":"929ec8608721d709","type":"switch","z":"642d91a297b08262","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"LOCK","vt":"str"},{"t":"eq","v":"UNLOCK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":1140,"wires":[["e17d51f6889af1ef"],["a77c19d478565f92"]]},{"id":"e17d51f6889af1ef","type":"change","z":"642d91a297b08262","name":"door - normal","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e608000a603020179ae04 5e738000d9dad2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1120,"wires":[["3fc3b14a50311f49"]]},{"id":"a77c19d478565f92","type":"change","z":"642d91a297b08262","name":"door - active","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e708000a403020279d638 5e738000d81b12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1160,"wires":[["3fc3b14a50311f49"]]},{"id":"3fc3b14a50311f49","type":"buffer-parser","z":"642d91a297b08262","name":"","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"buffer","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":570,"y":1140,"wires":[["96e4b81930fa45a0"]]},{"id":"9ab2f09622a15a75","type":"ha-mqtt-lock","z":"642d91a297b08262","server":"4bbd32ecc75de9a7","device":"f0256506e30ce080","name":"Door 129","config":"{\"icon\":\"mdi:door\",\"object_id\":\"tecom_titan_door_129\",\"name\":\"Door 129 - East Wing Lower\"}","x":80,"y":1260,"wires":[["cf67246807a60efa"]]},{"id":"cf67246807a60efa","type":"switch","z":"642d91a297b08262","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"LOCK","vt":"str"},{"t":"eq","v":"UNLOCK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":1260,"wires":[["3a504e9ece3fa959"],["a7e04b4930e0c062"]]},{"id":"3a504e9ece3fa959","type":"change","z":"642d91a297b08262","name":"door - normal","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e708000b303020181a349 5e738000e35ac1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1240,"wires":[["7c4729e78bc336ab"]]},{"id":"a7e04b4930e0c062","type":"change","z":"642d91a297b08262","name":"door - active","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e608000b2030202819f75 5e738000e29b01","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1280,"wires":[["7c4729e78bc336ab"]]},{"id":"7c4729e78bc336ab","type":"buffer-parser","z":"642d91a297b08262","name":"","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"buffer","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":570,"y":1260,"wires":[["96e4b81930fa45a0"]]},{"id":"8fb7f781fae3912e","type":"ha-mqtt-lock","z":"642d91a297b08262","server":"4bbd32ecc75de9a7","device":"f0256506e30ce080","name":"Door 209","config":"{\"icon\":\"mdi:door\",\"object_id\":\"tecom_titan_door_209\",\"name\":\"Door 209 - Rear Kitchen Door\"}","x":80,"y":940,"wires":[["46dbe613942b16ef"]]},{"id":"fc7805848a1b1164","type":"change","z":"642d91a297b08262","name":"door - normal","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e7080005f030201d132a2 5e738000c75ada","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":920,"wires":[["6ee2e16f287b9275"]]},{"id":"ab8774e5db1426aa","type":"change","z":"642d91a297b08262","name":"door - active","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e70800060030202d12657 5e738000c81ade","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":960,"wires":[["6ee2e16f287b9275"]]},{"id":"6ee2e16f287b9275","type":"buffer-parser","z":"642d91a297b08262","name":"","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"buffer","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":670,"y":940,"wires":[["96e4b81930fa45a0"]]},{"id":"46dbe613942b16ef","type":"switch","z":"642d91a297b08262","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"LOCK","vt":"str"},{"t":"eq","v":"UNLOCK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":940,"wires":[["fc7805848a1b1164"],["ab8774e5db1426aa"]]},{"id":"7cdf27608e70bbb8","type":"ha-mqtt-lock","z":"642d91a297b08262","server":"4bbd32ecc75de9a7","device":"f0256506e30ce080","name":"Door 1","config":"{\"retain\":\"true\",\"icon\":\"mdi:door\",\"object_id\":\"tecom_titan_door_1\",\"name\":\"Door 1 - Rear Auditorium\"}","x":70,"y":160,"wires":[["e069fb39cae241f2"]]},{"id":"44818c0960f1c33c","type":"ha-mqtt-lock","z":"642d91a297b08262","server":"4bbd32ecc75de9a7","device":"f0256506e30ce080","name":"Door 2","config":"{\"icon\":\"mdi:door\",\"object_id\":\"tecom_titan_door_2\",\"name\":\"Door 2 - West Coridor\"}","x":70,"y":260,"wires":[["b98823a06b24e8d3"]]},{"id":"d3776201e7b2bf9b","type":"ha-mqtt-lock","z":"642d91a297b08262","server":"4bbd32ecc75de9a7","device":"f0256506e30ce080","name":"Door 3","config":"{\"retain\":\"true\",\"icon\":\"mdi:door\",\"object_id\":\"tecom_titan_door_3\",\"name\":\"Door 3 - NA\"}","x":70,"y":320,"wires":[["3ed9bc9901882e29"]]},{"id":"18792e5dcd250650","type":"ha-mqtt-lock","z":"642d91a297b08262","server":"4bbd32ecc75de9a7","device":"f0256506e30ce080","name":"Door 4","config":"{\"icon\":\"mdi:door\",\"object_id\":\"tecom_titan_door_4\",\"name\":\"Door 4 - West Auditorium\"}","x":70,"y":400,"wires":[["7b07d7cdb6415add"]]},{"id":"6d964447ebca1a00","type":"ha-mqtt-lock","z":"642d91a297b08262","server":"4bbd32ecc75de9a7","device":"f0256506e30ce080","name":"Door 5","config":"{\"retain\":\"true\",\"icon\":\"mdi:door\",\"object_id\":\"tecom_titan_door_5\",\"name\":\"Door 5 - Central Auditorium\"}","x":70,"y":480,"wires":[["ea1deab50df78d69"]]},{"id":"8f4f30bc9fbe70c4","type":"ha-mqtt-lock","z":"642d91a297b08262","server":"4bbd32ecc75de9a7","device":"f0256506e30ce080","name":"Door 6","config":"{\"icon\":\"mdi:door\",\"object_id\":\"tecom_titan_door_6\",\"name\":\"Door 6 - East Auditorium\"}","x":70,"y":580,"wires":[["8d5b0a952938c38a"]]},{"id":"4620bc43ec25d37f","type":"ha-mqtt-lock","z":"642d91a297b08262","server":"4bbd32ecc75de9a7","device":"f0256506e30ce080","name":"Door 9","config":"{\"icon\":\"mdi:door-sliding-open\",\"object_id\":\"tecom_titan_door_9\",\"name\":\"Door 9 - Front Doors\"}","x":70,"y":640,"wires":[["639d06e5ed4ddb1b"]]},{"id":"08fdb9d9e0aa0ec5","type":"ha-mqtt-lock","z":"642d91a297b08262","server":"4bbd32ecc75de9a7","device":"f0256506e30ce080","name":"Door 49","config":"{\"icon\":\"mdi:door\",\"object_id\":\"tecom_titan_door_49\",\"name\":\"Door 49 - Security Office\"}","x":80,"y":800,"wires":[["806ae9805f56317e"]]},{"id":"8355b4cae942441b","type":"change","z":"642d91a297b08262","name":"door - normal/locked (reset)","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e70800005030201016b33 5e738000675aa2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":140,"wires":[["c03718f1834dc35b"]]},{"id":"d1d1bc41ee94d2f6","type":"change","z":"642d91a297b08262","name":"door - active/unlocked (set)","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e708000fe030202018e17 5e7380005ddab1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":180,"wires":[["c03718f1834dc35b"]]},{"id":"e069fb39cae241f2","type":"switch","z":"642d91a297b08262","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"LOCK","vt":"str"},{"t":"eq","v":"UNLOCK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":160,"wires":[["8355b4cae942441b"],["d1d1bc41ee94d2f6"]]},{"id":"daa9267107485b5c","type":"change","z":"642d91a297b08262","name":"door - normal","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e7080001803020102c730 5e7380007f5aa8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":220,"wires":[["a3781713b7eb0522"]]},{"id":"c8b561b8f30f4159","type":"change","z":"642d91a297b08262","name":"door - active","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e708000170302020293c1 5e7380007e9b68","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":260,"wires":[["a3781713b7eb0522"]]},{"id":"b98823a06b24e8d3","type":"switch","z":"642d91a297b08262","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"LOCK","vt":"str"},{"t":"eq","v":"UNLOCK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":260,"wires":[["daa9267107485b5c"],["c8b561b8f30f4159"]]},{"id":"3ed9bc9901882e29","type":"switch","z":"642d91a297b08262","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"LOCK","vt":"str"},{"t":"eq","v":"UNLOCK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":320,"wires":[["8f65107ce6126d91"],["c73a2662b352c131"]]},{"id":"7b07d7cdb6415add","type":"switch","z":"642d91a297b08262","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"LOCK","vt":"str"},{"t":"eq","v":"UNLOCK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":400,"wires":[["3358f06ca966538f"],["b60592f65a43fceb"]]},{"id":"ea1deab50df78d69","type":"switch","z":"642d91a297b08262","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"LOCK","vt":"str"},{"t":"eq","v":"UNLOCK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":480,"wires":[["d428e1a0a81e60ca"],["522bdb079c3bb578"]]},{"id":"8d5b0a952938c38a","type":"switch","z":"642d91a297b08262","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"LOCK","vt":"str"},{"t":"eq","v":"UNLOCK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":580,"wires":[["97298f2b7d994211"],["a3dec3a7c1e4da19"]]},{"id":"639d06e5ed4ddb1b","type":"switch","z":"642d91a297b08262","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"LOCK","vt":"str"},{"t":"eq","v":"UNLOCK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":640,"wires":[["20f239d4eed03ce5"],["547f592304dc5c5a"]]},{"id":"806ae9805f56317e","type":"switch","z":"642d91a297b08262","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"LOCK","vt":"str"},{"t":"eq","v":"UNLOCK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":800,"wires":[["f3f92585ee7447fb"],["96c58233b9dfb4ac"]]},{"id":"8f65107ce6126d91","type":"change","z":"642d91a297b08262","name":"door - normal","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e7080001a030201037f30 5e738000835ae9","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":300,"wires":[["c901a50529fd6556"]]},{"id":"c73a2662b352c131","type":"change","z":"642d91a297b08262","name":"door - active","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e70800019030202033bc0 5e738000829b29","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":340,"wires":[["c901a50529fd6556"]]},{"id":"3358f06ca966538f","type":"change","z":"642d91a297b08262","name":"door - normal","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e7080001c03020104b6f2 5e738000875b2a","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":380,"wires":[["147f84a0e2e5347d"]]},{"id":"b60592f65a43fceb","type":"change","z":"642d91a297b08262","name":"door - active","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e7080001b0302020403c2 5e738000869aea","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":420,"wires":[["147f84a0e2e5347d"]]},{"id":"d428e1a0a81e60ca","type":"change","z":"642d91a297b08262","name":"door - normal","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e6080003103020105da38 5e738000d35ad5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":460,"wires":[["71d8c2ec71e95678"]]},{"id":"522bdb079c3bb578","type":"change","z":"642d91a297b08262","name":"door - active","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e6080002903020205faca 5e738000ce9adc","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":500,"wires":[["71d8c2ec71e95678"]]},{"id":"97298f2b7d994211","type":"change","z":"642d91a297b08262","name":"door - normal","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e708000770302010612fa 5e73800009db4e","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":540,"wires":[["c10ed7c4278b0c4a"]]},{"id":"a3dec3a7c1e4da19","type":"change","z":"642d91a297b08262","name":"door - active","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e708000380302020647c4 5e738000d81b12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":580,"wires":[["c10ed7c4278b0c4a"]]},{"id":"c10ed7c4278b0c4a","type":"buffer-parser","z":"642d91a297b08262","name":"","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"buffer","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":570,"y":560,"wires":[["15b3cee490c3a6fa"]]},{"id":"20f239d4eed03ce5","type":"change","z":"642d91a297b08262","name":"door - normal","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e608000440302010957f6 5e738000df5ad0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":620,"wires":[["bcfc8ff38994c0ca"]]},{"id":"547f592304dc5c5a","type":"change","z":"642d91a297b08262","name":"door - active","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e7080004203020209de0a 5e738000de9b10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":660,"wires":[["bcfc8ff38994c0ca"]]},{"id":"bcfc8ff38994c0ca","type":"buffer-parser","z":"642d91a297b08262","name":"","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"buffer","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":590,"y":640,"wires":[["15b3cee490c3a6fa"]]},{"id":"f3f92585ee7447fb","type":"change","z":"642d91a297b08262","name":"door - normal","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e6080003f03020131b22e 5e738000b75b3e","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":800,"wires":[["4ce12adfc54e19a5"]]},{"id":"96c58233b9dfb4ac","type":"change","z":"642d91a297b08262","name":"door - active","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e7080004203020231dfd8 5e738000bb5b3b","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":840,"wires":[["4ce12adfc54e19a5"]]},{"id":"4ce12adfc54e19a5","type":"buffer-parser","z":"642d91a297b08262","name":"","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"buffer","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":590,"y":820,"wires":[["15b3cee490c3a6fa"]]},{"id":"c901a50529fd6556","type":"buffer-parser","z":"642d91a297b08262","name":"","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"buffer","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":570,"y":320,"wires":[["15b3cee490c3a6fa"]]},{"id":"147f84a0e2e5347d","type":"buffer-parser","z":"642d91a297b08262","name":"","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"buffer","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":550,"y":400,"wires":[["15b3cee490c3a6fa"]]},{"id":"71d8c2ec71e95678","type":"buffer-parser","z":"642d91a297b08262","name":"","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"buffer","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":570,"y":480,"wires":[["15b3cee490c3a6fa"]]},{"id":"a3781713b7eb0522","type":"buffer-parser","z":"642d91a297b08262","name":"","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"buffer","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":550,"y":240,"wires":[["15b3cee490c3a6fa"]]},{"id":"c03718f1834dc35b","type":"buffer-parser","z":"642d91a297b08262","name":"","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"buffer","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":630,"y":160,"wires":[["15b3cee490c3a6fa"]]},{"id":"8e8f375061a91ec4","type":"udp out","z":"642d91a297b08262","name":"Door","addr":"192.168.1.20","iface":"","port":"3001","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":830,"y":440,"wires":[]},{"id":"2bb80e7dff4cabdc","type":"udp out","z":"642d91a297b08262","name":"Door","addr":"192.168.1.20","iface":"","port":"3001","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":850,"y":1100,"wires":[]},{"id":"37fe2bce524b0747","type":"function","z":"642d91a297b08262","name":"Un/lock auto-generator","func":"/**\n * Tecom Titan Lock/Unlock Command Generator for Node-RED\n * This function generates lock/unlock commands on the fly for any door.\n * INPUT:\n *   msg.payload: \"LOCK\" or \"UNLOCK\"\n * OUTPUT:\n *   msg.payload: Buffer containing the UDP command packet\n * USAGE:\n *   1. Set the DOOR_NUMBER below (1-255)\n *   2. Connect your lock switch node to this function\n *   3. Connect output to UDP out node called Door\n */\n// ============================================================\n// CONFIGURATION - EDIT THIS\n// ============================================================\nconst DOOR_NUMBER = 1;  // SET YOUR DOOR NUMBER HERE (1-255)\n// ============================================================\n\n// Global sequence counter (persists across invocations in Node-RED context)\nlet sequence = context.get('tecom_sequence') || 0;\n\nlet doorNumber = DOOR_NUMBER;\n\n// Validate door number\nif (!doorNumber) {\n    node.error(\"DOOR_NUMBER not configured! Edit the function and set DOOR_NUMBER at the top\", msg);\n    node.status({\n        fill: \"red\",\n        shape: \"ring\",\n        text: \"Error: No door number configured\"\n    });\n    return null;\n}\n\nif (doorNumber < 1 || doorNumber > 255) {\n    node.error(`Invalid door number: ${doorNumber}. Must be 1-255`, msg);\n    return null;\n}\n\nlet action = (msg.payload || \"\").toString().toUpperCase();\nif (action !== \"LOCK\" && action !== \"UNLOCK\") {\n    node.error(`Invalid action: ${action}. Must be LOCK or UNLOCK`, msg);\n    return null;\n}\n\n// CRC-16/MODBUS calculation functions\nfunction crc16_modbus_byte(crc, byte) {\n    const poly = 0xA001;\n    crc ^= byte;\n    for (let i = 0; i < 8; i++) {\n        if (crc & 0x0001) {\n            crc = (crc >> 1) ^ poly;\n        } else {\n            crc = crc >> 1;\n        }\n    }\n    return crc & 0xFFFF;\n}\n\nfunction crc16_modbus(data) {\n    let crc = 0xFFFF;\n    for (let byte of data) {\n        crc = crc16_modbus_byte(crc, byte);\n    }\n    return crc & 0xFFFF;\n}\n\nfunction findChecksumBytes(packetData, targetCrc) {\n    const crcBefore = crc16_modbus(packetData);\n    \n    // Brute force to find checksum bytes that result in target CRC\n    for (let byte1 = 0; byte1 <= 0xFF; byte1++) {\n        for (let byte2 = 0; byte2 <= 0xFF; byte2++) {\n            let testCrc = crc16_modbus_byte(crcBefore, byte1);\n            testCrc = crc16_modbus_byte(testCrc, byte2);\n            \n            if (testCrc === targetCrc) {\n                return [byte1, byte2];\n            }\n        }\n    }\n    \n    throw new Error(`Could not find checksum for target 0x${targetCrc.toString(16)}`);\n}\n\n// Generate the command packet\ntry {\n    // Header - always 5e 70 80 00 for lock/unlock commands\n    const header = [0x5e, 0x70, 0x80, 0x00];\n    \n    // Sequence byte (increments with each command)\n    const seq = sequence & 0xFF;\n    \n    // Fixed bytes\n    const fixed = [0x03, 0x02];\n    \n    // Action byte: 0x01 = LOCK, 0x02 = UNLOCK\n    const actionByte = action === \"LOCK\" ? 0x01 : 0x02;\n    \n    // Door number\n    const door = doorNumber & 0xFF;\n    \n    // Build packet without checksum\n    const packet = [...header, seq, ...fixed, actionByte, door];\n    \n    // Find checksum bytes that make full packet CRC = 0x0a43\n    const TARGET_CRC = 0x0a43;\n    const checksumBytes = findChecksumBytes(packet, TARGET_CRC);\n    \n    // Complete packet\n    const fullPacket = [...packet, ...checksumBytes];\n    \n    // Convert to Buffer for UDP output\n    msg.payload = Buffer.from(fullPacket);\n    \n    // Increment and save sequence for next time\n    sequence = (sequence + 1) & 0xFF;\n    context.set('tecom_sequence', sequence);\n    \n    // Add helpful metadata\n    msg.tecom = {\n        door: doorNumber,\n        action: action,\n        sequence: seq,\n        packet_hex: fullPacket.map(b => b.toString(16).padStart(2, '0')).join(''),\n        packet_length: fullPacket.length\n    };\n    \n    // Log for debugging\n    node.status({\n        fill: action === \"LOCK\" ? \"red\" : \"green\",\n        shape: \"dot\",\n        text: `${action} Door ${doorNumber} (seq:${seq})`\n    });\n    \n    return msg;\n    \n} catch (error) {\n    node.error(`Error generating command: ${error.message}`, msg);\n    node.status({\n        fill: \"red\",\n        shape: \"ring\",\n        text: `Error: ${error.message}`\n    });\n    return null;\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1340,"wires":[[]]},{"id":"20edc7c8ca890759","type":"function","z":"642d91a297b08262","name":"all-in-one status processor","func":"/**\n * Tecom Titan Unified Status Processor for Node-RED - DUAL OUTPUT VERSION\n * \n * This function handles BOTH:\n * 1. Poll responses (11-13 bytes) - from status queries we send → OUTPUT 1\n * 2. Live broadcasts (21-22 bytes) - from Titan when doors change → OUTPUT 2\n * \n * INPUT:\n *   msg.payload: Buffer from UDP in node\n * \n * OUTPUT 1 (Poll Responses):\n *   msg.relay: Door number (1-255)\n *   msg.lock_status: \"LOCK\" or \"UNLOCK\"\n *   msg.is_locked: true/false\n *   msg.source: \"poll\"\n *   msg.topic: \"ha-mqtt/lock/Door_X/state\" (for MQTT output)\n * \n * OUTPUT 2 (Live Broadcasts):\n *   msg.relay: Door number (1-255)\n *   msg.lock_status: \"LOCK\" or \"UNLOCK\"\n *   msg.is_locked: true/false\n *   msg.source: \"broadcast\"\n *   msg.topic: \"ha-mqtt/lock/Door_X/state\" (for MQTT output)\n * \n * USAGE:\n *   UDP In (port 3001) → This Function → [Output 1: MQTT for Polls] [Output 2: MQTT for Broadcasts]\n *   You can disable either output if needed without affecting the other.\n * \n * CONFIGURATION:\n *   Set outputs to 2 in the function node settings\n */\n\n// Validate input\nif (!msg.payload || !Buffer.isBuffer(msg.payload)) {\n    return [null, null];\n}\n\nconst payload = msg.payload;\nconst length = payload.length;\n\n// Filter out non-door-status packets\n// We only care about packets that are 11-13 bytes (poll responses) or 21-22 bytes (broadcasts)\nif (length < 11 || (length > 13 && length < 21)) {\n    return [null, null];\n}\n\nlet relay = null;\nlet state = null;\nlet source = null;\nlet outputMsg = null;\n\n// POLL RESPONSE FORMAT (11-13 bytes) → OUTPUT 1\n// Example: 5e 40 80 00 8e 67 03 03 00 00 e8 31 (12 bytes)\n// Door at byte 7, State at byte 9\nif (length >= 11 && length <= 13) {\n    relay = payload[7];\n    state = payload[9];\n    source = \"poll\";\n    \n    // Poll response state logic:\n    // 0x00 = LOCKED\n    // 0x01 or 0x02 = UNLOCKED\n    const lock_status = (state === 0x00) ? \"LOCK\" : \"UNLOCK\";\n    const is_locked = (state === 0x00);\n    \n    // Ignore invalid relay numbers\n    if (relay === null || relay === 0) {\n        return [null, null];\n    }\n    \n    // Build output message for polls\n    outputMsg = {\n        topic: `ha-mqtt/lock/Door_${relay}/state`,\n        payload: lock_status,\n        relay: relay,\n        lock_status: lock_status,\n        is_locked: is_locked,\n        source: source,\n        debug: {\n            packet_hex: payload.toString('hex'),\n            packet_length: length,\n            raw_state: state,\n            source: source\n        }\n    };\n    \n    // Update node status\n    node.status({\n        fill: lock_status === \"LOCK\" ? \"red\" : \"green\",\n        shape: \"dot\",\n        text: `Door ${relay}: ${lock_status} (poll)`\n    });\n    \n    // Return on OUTPUT 1 (polls only)\n    return [outputMsg, null];\n}\n\n// LIVE BROADCAST FORMAT (21-22 bytes) → OUTPUT 2\n// Example unlock: 5e 40 80 00 b5 0f 0c 63 c7 7b 77 84 03 00 00 00 00 00 04 07 f3 (21 bytes)\n// Example lock:   5e 40 80 00 b6 0f 0c 63 47 00 78 85 03 00 00 00 00 00 07 5e ff c3 (22 bytes)\n// Door at byte 12, State at byte 18\nelse if (length >= 21 && length <= 22) {\n    // Check for 0x0f command byte (live broadcast identifier)\n    if (payload[5] !== 0x0f) {\n        return [null, null]; // Not a live broadcast we care about\n    }\n    \n    relay = payload[12];\n    state = payload[18];\n    source = \"broadcast\";\n    \n    // Live broadcast state logic:\n    // 0x07 = LOCKED\n    // 0x04 or other = UNLOCKED\n    const lock_status = (state === 0x07) ? \"LOCK\" : \"UNLOCK\";\n    const is_locked = (state === 0x07);\n    \n    // Ignore invalid relay numbers\n    if (relay === null || relay === 0) {\n        return [null, null];\n    }\n    \n    // Build output message for broadcasts\n    outputMsg = {\n        topic: `ha-mqtt/lock/Door_${relay}/state`,\n        payload: lock_status,\n        relay: relay,\n        lock_status: lock_status,\n        is_locked: is_locked,\n        source: source,\n        debug: {\n            packet_hex: payload.toString('hex'),\n            packet_length: length,\n            raw_state: state,\n            source: source\n        }\n    };\n    \n    // Update node status\n    node.status({\n        fill: lock_status === \"LOCK\" ? \"red\" : \"green\",\n        shape: \"ring\",\n        text: `Door ${relay}: ${lock_status} (broadcast)`\n    });\n    \n    // Return on OUTPUT 2 (broadcasts only)\n    return [null, outputMsg];\n}\n\n// Shouldn't reach here, but just in case\nreturn [null, null];\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1400,"wires":[[]]},{"id":"298642718fc4c858","type":"function","z":"642d91a297b08262","name":"door xyz - poll","func":"/**\n * Tecom Titan Status Poll Command Generator for Node-RED\n * \n * This function generates status query commands for multiple doors.\n * \n * INPUT:\n *   msg.topic: Comma-separated door numbers (e.g., \"1,2,3,4,5,6,9,17,49,121,129,201,209\")\n *   OR\n *   msg.doors: Array of door numbers (e.g., [1,2,3,4,5])\n * \n * OUTPUT:\n *   Multiple messages (one per door), each with UDP status query packet\n * \n * USAGE:\n *   Inject node → This function → Delay/Rate Limiter → UDP out\n *   Set inject node's msg.topic to: \"1,2,3,4,5,6,9,17,49,121,129,201,209\"\n */\n\n// Global sequence counter (persists across invocations in Node-RED context)\nlet sequence = context.get('tecom_sequence') || 0;\n\n// Extract door numbers from input\nlet doorNumbers = [];\n\nif (msg.doors && Array.isArray(msg.doors)) {\n    // If msg.doors is an array, use it directly\n    doorNumbers = msg.doors;\n} else if (msg.topic && typeof msg.topic === 'string') {\n    // Parse comma-separated string from msg.topic\n    doorNumbers = msg.topic.split(',')\n        .map(s => parseInt(s.trim(), 10))\n        .filter(n => !isNaN(n) && n >= 1 && n <= 255);\n}\n\n// Validate we have door numbers\nif (doorNumbers.length === 0) {\n    node.error(\"No valid door numbers provided! Set msg.topic to comma-separated list (e.g., '1,2,3') or msg.doors to array\", msg);\n    node.status({\n        fill: \"red\",\n        shape: \"ring\",\n        text: \"Error: No door numbers\"\n    });\n    return null;\n}\n\n// CRC-16/MODBUS calculation functions\nfunction crc16_modbus_byte(crc, byte) {\n    const poly = 0xA001;\n    crc ^= byte;\n    for (let i = 0; i < 8; i++) {\n        if (crc & 0x0001) {\n            crc = (crc >> 1) ^ poly;\n        } else {\n            crc = crc >> 1;\n        }\n    }\n    return crc & 0xFFFF;\n}\n\nfunction crc16_modbus(data) {\n    let crc = 0xFFFF;\n    for (let byte of data) {\n        crc = crc16_modbus_byte(crc, byte);\n    }\n    return crc & 0xFFFF;\n}\n\nfunction findChecksumBytes(packetData, targetCrc) {\n    const crcBefore = crc16_modbus(packetData);\n    \n    // Brute force to find checksum bytes that result in target CRC\n    for (let byte1 = 0; byte1 <= 0xFF; byte1++) {\n        for (let byte2 = 0; byte2 <= 0xFF; byte2++) {\n            let testCrc = crc16_modbus_byte(crcBefore, byte1);\n            testCrc = crc16_modbus_byte(testCrc, byte2);\n            \n            if (testCrc === targetCrc) {\n                return [byte1, byte2];\n            }\n        }\n    }\n    \n    throw new Error(`Could not find checksum for target 0x${targetCrc.toString(16)}`);\n}\n\n// Generate the status query packet\ntry {\n    const messages = [];\n    \n    // Generate a packet for each door\n    for (const doorNumber of doorNumbers) {\n        // Header - always 5e 70 80 00 for status queries\n        const header = [0x5e, 0x70, 0x80, 0x00];\n        \n        // Sequence byte (increments with each command)\n        const seq = sequence & 0xFF;\n        \n        // Fixed bytes for status query\n        const fixed = [0x66, 0x04];\n        \n        // Door number appears TWICE in status query packets (bytes 7 and 9)\n        const door = doorNumber & 0xFF;\n        \n        // Build packet without checksum\n        // Format: header(4) + seq(1) + fixed(2) + door(1) + 0x00(1) + door(1) + 0x00(1)\n        const packet = [...header, seq, ...fixed, door, 0x00, door, 0x00];\n        \n        // Find checksum bytes that make full packet CRC = 0x37b1\n        // NOTE: Status queries use 0x37b1 (same as set_time), NOT 0x0a43 like lock/unlock!\n        const TARGET_CRC = 0x37b1;\n        const checksumBytes = findChecksumBytes(packet, TARGET_CRC);\n        \n        // Complete packet (13 bytes total)\n        const fullPacket = [...packet, ...checksumBytes];\n        \n        // Create a new message for this door\n        const newMsg = {\n            payload: Buffer.from(fullPacket),\n            tecom: {\n                door: doorNumber,\n                action: \"STATUS_QUERY\",\n                sequence: seq,\n                packet_hex: fullPacket.map(b => b.toString(16).padStart(2, '0')).join(''),\n                packet_length: fullPacket.length\n            }\n        };\n        \n        messages.push(newMsg);\n        \n        // Increment sequence for next door\n        sequence = (sequence + 1) & 0xFF;\n    }\n    \n    // Save sequence for next time\n    context.set('tecom_sequence', sequence);\n    \n    // Update status\n    node.status({\n        fill: \"blue\",\n        shape: \"dot\",\n        text: `Polling ${doorNumbers.length} doors`\n    });\n    \n    // Return array of messages - Node-RED will send each one separately\n    return [messages];\n    \n} catch (error) {\n    node.error(`Error generating status query: ${error.message}`, msg);\n    node.status({\n        fill: \"red\",\n        shape: \"ring\",\n        text: `Error: ${error.message}`\n    });\n    return null;\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1460,"wires":[[]]},{"id":"4bbd32ecc75de9a7","type":"mqtt-broker","name":"","broker":"localhost","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"f0256506e30ce080","type":"ha-mqtt-device","name":"Tecom Titan","config":"{\"manufacturer\":\"Tecom\",\"model\":\"Challenger\",\"hw_version\":\"V8\",\"name\":\"Titan\",\"sw_version\":\"3.5.1 Build 31\",\"configuration_url\":\"https://aritech.com.au/titan-3-5-1-build-31-is-now-available/\"}","retain":false},{"id":"ba02e5141b46a476","type":"global-config","env":[],"modules":{"node-red-contrib-buffer-parser":"3.2.2","node-red-contrib-ha-mqtt":"1.2.15"}}]