Node-Red flows/Poll Status of Titan Relays.json
[{"id":"6738539537c7e05e","type":"tab","label":"Poll Status of Titan Relays","disabled":false,"info":"","env":[]},{"id":"cef8a7153a5f6c05","type":"junction","z":"6738539537c7e05e","x":280,"y":280,"wires":[["197f1ebc5ce0de92","06a5b81b6d885329","4eacd56123234b0f","4098883fca451672","818f27d9d7e7cda5","8b82a132a5dfa863","b359d60e781ed87c","76311785a75871cc","50fe1fcc0a959397","be445113249c3b86","a1f27504c7917a56","08da56b89889a67e","309214a1fe95e484"]]},{"id":"ce820e6b1c48781c","type":"junction","z":"6738539537c7e05e","x":580,"y":280,"wires":[["e5e28bcd5071a2ed"]]},{"id":"7c8953bf804bfd0c","type":"debug","z":"6738539537c7e05e","name":"buffer parser","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":320,"wires":[]},{"id":"c4408101c64b1a83","type":"udp out","z":"6738539537c7e05e","name":"Door status","addr":"192.168.1.20","iface":"","port":"3001","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1190,"y":240,"wires":[]},{"id":"06a5b81b6d885329","type":"change","z":"6738539537c7e05e","name":"door 2 - poll","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e7080001966040200020063f5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":120,"wires":[["ce820e6b1c48781c"]]},{"id":"01327ad11c80af3c","type":"buffer-parser","z":"6738539537c7e05e","name":"","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"int16be","name":"item1","offset":0,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"buffer","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":970,"y":240,"wires":[["c4408101c64b1a83","7c8953bf804bfd0c"]]},{"id":"4eacd56123234b0f","type":"change","z":"6738539537c7e05e","name":"door 3 - poll","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e70800044660403000300ef5c","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":160,"wires":[["ce820e6b1c48781c"]]},{"id":"197f1ebc5ce0de92","type":"change","z":"6738539537c7e05e","name":"door 1 - poll","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e608000256604010001009ed7","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":80,"wires":[["ce820e6b1c48781c"]]},{"id":"b047cd767c323099","type":"inject","z":"6738539537c7e05e","name":"run every 2 minutes","props":[{"p":"payload"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":240,"wires":[["cef8a7153a5f6c05"]],"info":"Titan software queues every command.\nYou can change polling rate but ensure you\ndon't go too low."},{"id":"4098883fca451672","type":"change","z":"6738539537c7e05e","name":"door 4 - poll","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e708000e26604040004002a12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":200,"wires":[["ce820e6b1c48781c"]]},{"id":"818f27d9d7e7cda5","type":"change","z":"6738539537c7e05e","name":"door 5 - poll","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e608000e46604050005004deb","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":240,"wires":[["ce820e6b1c48781c"]]},{"id":"b359d60e781ed87c","type":"change","z":"6738539537c7e05e","name":"door 9 - poll","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e708000e56604090009005aee","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":320,"wires":[["ce820e6b1c48781c"]]},{"id":"76311785a75871cc","type":"change","z":"6738539537c7e05e","name":"door 17 - poll","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e708000e6660411001100654e","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":360,"wires":[["ce820e6b1c48781c"]]},{"id":"32a7addb340803f6","type":"mqtt in","z":"6738539537c7e05e","name":"","topic":"poll-status-titan","qos":"2","datatype":"auto-detect","broker":"4bbd32ecc75de9a7","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":320,"wires":[["cef8a7153a5f6c05"]],"info":"In Home Assistant run:\r\n\r\naction: mqtt.publish\r\ndata:\r\n  topic: poll-status-titan"},{"id":"50fe1fcc0a959397","type":"change","z":"6738539537c7e05e","name":"door 49 - poll","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e7080002c6604310031001d42","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":400,"wires":[["ce820e6b1c48781c"]]},{"id":"be445113249c3b86","type":"change","z":"6738539537c7e05e","name":"door 209 - poll","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e708000616604d100d100fe46","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":560,"wires":[["ce820e6b1c48781c"]]},{"id":"8b82a132a5dfa863","type":"change","z":"6738539537c7e05e","name":"door 6 - poll","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e708000a36604060006007bce","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":280,"wires":[["ce820e6b1c48781c"]]},{"id":"e5e28bcd5071a2ed","type":"delay","z":"6738539537c7e05e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":700,"y":280,"wires":[["01327ad11c80af3c"]]},{"id":"a1f27504c7917a56","type":"change","z":"6738539537c7e05e","name":"door 201 - poll","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e708000176604c900c900e521","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":520,"wires":[["ce820e6b1c48781c"]]},{"id":"08da56b89889a67e","type":"change","z":"6738539537c7e05e","name":"door 121 - poll","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e708000af6604790079008e2a","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":440,"wires":[["ce820e6b1c48781c"]]},{"id":"309214a1fe95e484","type":"change","z":"6738539537c7e05e","name":"door 129 - poll","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e708000b5660481008100474b","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":480,"wires":[["ce820e6b1c48781c"]]},{"id":"0b2ad9ac5d23ba69","type":"inject","z":"6738539537c7e05e","name":"manual poll","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":540,"wires":[["a1f27504c7917a56"]]},{"id":"10b32678af4962d1","type":"inject","z":"6738539537c7e05e","name":"manual poll","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":660,"wires":[["d7f59c4c0fb47b12"]]},{"id":"d7f59c4c0fb47b12","type":"change","z":"6738539537c7e05e","name":"PING","rules":[{"t":"set","p":"payload","pt":"msg","to":"5e73800019da82","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":660,"wires":[["e5e28bcd5071a2ed"]]},{"id":"55385fb9380a3797","type":"udp in","z":"6738539537c7e05e","name":"","iface":"","port":"3001","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":100,"y":840,"wires":[["9a3cc720b3b0303c","0dc170795da54b0d","fe5c86d14bfa51ae"]],"info":"https://chatgpt.com/share/68339ba2-f658-8006-a143-42ddcc71b6f9"},{"id":"f5e9c8bd84ef3bba","type":"buffer-parser","z":"6738539537c7e05e","name":"buffer parser extract","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"buffer","name":"relay","offset":7,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"buffer","name":"state","offset":9,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":460,"y":840,"wires":[["f0714338385abf65"]],"info":"Use hex to decimal converter to find value\r\ne.g. 0xc9 in hex equals 201 in decimal."},{"id":"ccc1a026de567254","type":"debug","z":"6738539537c7e05e","name":"HA codes Titan init.","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":1060,"wires":[]},{"id":"1a7f0f1a5801684e","type":"debug","z":"6738539537c7e05e","name":"HA codes","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":960,"y":780,"wires":[]},{"id":"f0714338385abf65","type":"function","z":"6738539537c7e05e","name":"decipher packet","func":"// Access the values from payload\nif (msg.payload.relay && Buffer.isBuffer(msg.payload.relay)) {\n    msg.relay = msg.payload.relay[0];\n} else if (msg.payload.relay && typeof msg.payload.relay === 'object') {\n    msg.relay = msg.payload.relay[0];\n}\n\nif (msg.payload.state && Buffer.isBuffer(msg.payload.state)) {\n    msg.state = msg.payload.state[0];\n} else if (msg.payload.state && typeof msg.payload.state === 'object') {\n    msg.state = msg.payload.state[0];\n}\n\n// Map state to lock status\nif (msg.state !== undefined) {\n    msg.lock_status = msg.state === 0 ? \"LOCK\" : \"UNLOCK\";\n    msg.is_lock = msg.state === 0;\n\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":840,"wires":[["1a7f0f1a5801684e","2a3efad425a8679c"]]},{"id":"9a3cc720b3b0303c","type":"switch","z":"6738539537c7e05e","d":true,"name":"if payload 21 or above","property":"payload.length","propertyType":"msg","rules":[{"t":"gte","v":"21","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":200,"y":920,"wires":[["3b4cca2702836331"],[]],"info":"This occurs when a relay is changed\r\nfrom within Titan software. This gives\r\nreal-time updates of the status."},{"id":"3b4cca2702836331","type":"buffer-parser","z":"6738539537c7e05e","name":"buffer parser extract","data":"payload","dataType":"msg","specification":"spec","specificationType":"ui","items":[{"type":"buffer","name":"relay","offset":12,"length":1,"offsetbit":0,"scale":"1","mask":""},{"type":"buffer","name":"state","offset":18,"length":1,"offsetbit":0,"scale":"1","mask":""}],"swap1":"","swap2":"","swap3":"","swap1Type":"swap","swap2Type":"swap","swap3Type":"swap","msgProperty":"payload","msgPropertyType":"str","resultType":"keyvalue","resultTypeType":"return","multipleResult":false,"fanOutMultipleResult":false,"setTopic":true,"outputs":1,"x":320,"y":1020,"wires":[["ccc1a026de567254","202ad589e5aadcdd"]]},{"id":"202ad589e5aadcdd","type":"function","z":"6738539537c7e05e","name":"decipher packet","func":"// Access the values from payload\nif (msg.payload.relay && Buffer.isBuffer(msg.payload.relay)) {\n    msg.relay = msg.payload.relay[0];\n} else if (msg.payload.relay && typeof msg.payload.relay === 'object') {\n    msg.relay = msg.payload.relay[0];\n}\n\nif (msg.payload.state && Buffer.isBuffer(msg.payload.state)) {\n    msg.state = msg.payload.state[0];\n} else if (msg.payload.state && typeof msg.payload.state === 'object') {\n    msg.state = msg.payload.state[0];\n}\n\n// Map state to lock status\nif (msg.state !== undefined) {\n    msg.lock_status = msg.state === 7 ? \"locked\" : \"unlocked\";\n    msg.is_locked = msg.state === 7;\n\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":960,"wires":[[]]},{"id":"0dc170795da54b0d","type":"switch","z":"6738539537c7e05e","name":"if payload 20 or less","property":"payload.length","propertyType":"msg","rules":[{"t":"lte","v":"20","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":780,"wires":[["f5e9c8bd84ef3bba"],[]],"info":"This occurs when a relay is changed\r\nfrom not within Titan software. This gives\r\nreal-time updates of the status."},{"id":"2a7db7048c793339","type":"mqtt out","z":"6738539537c7e05e","name":"","topic":"","qos":"","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4bbd32ecc75de9a7","x":1170,"y":880,"wires":[]},{"id":"31035e3bbe45dcc2","type":"inject","z":"6738539537c7e05e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ha-mqtt/lock/Door_209/state","payload":"LOCK","payloadType":"str","x":920,"y":980,"wires":[["2a7db7048c793339"]],"info":"for testing"},{"id":"b843a1c7bc721881","type":"inject","z":"6738539537c7e05e","name":"temperature","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temperature","payload":"10","payloadType":"num","x":590,"y":1560,"wires":[["94a76d36ecae2165"]]},{"id":"94a76d36ecae2165","type":"join","z":"6738539537c7e05e","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":1600,"wires":[["ccd9b2c84a054802"]]},{"id":"ccd9b2c84a054802","type":"debug","z":"6738539537c7e05e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":1600,"wires":[]},{"id":"029279726c15cd42","type":"inject","z":"6738539537c7e05e","name":"humidity","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"humidity","payload":"","payloadType":"num","x":580,"y":1600,"wires":[["94a76d36ecae2165"]]},{"id":"19790b2960a537ee","type":"inject","z":"6738539537c7e05e","name":"pressure","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pressure","payload":"999","payloadType":"num","x":580,"y":1640,"wires":[["94a76d36ecae2165"]]},{"id":"47569a254d620721","type":"function","z":"6738539537c7e05e","name":"combine values for MQTT","func":"let topicBase = \"ha-mqtt/lock/Door_\" + msg.relay;\nlet payload = msg.lock_status;\n\nnode.send({ topic: topicBase + \"/state\", payload: payload });\nnode.send({ topic: topicBase + \"/set\", payload: payload });\nreturn null; // Prevents default message from being sent","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":880,"wires":[["7fbd4a4f5a314f59","2a7db7048c793339"]]},{"id":"7fbd4a4f5a314f59","type":"debug","z":"6738539537c7e05e","name":"MQTT function","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1200,"y":940,"wires":[]},{"id":"fb5adc615e3dc151","type":"debug","z":"6738539537c7e05e","name":"continue","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1180,"y":780,"wires":[]},{"id":"2a3efad425a8679c","type":"function","z":"6738539537c7e05e","name":"filter out null","func":"if (msg.relay !== undefined && msg.relay !== null) {\n    return msg;\n}\n// Don't return anything if relay is missing, so the flow stops here.","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":840,"wires":[["fb5adc615e3dc151","47569a254d620721"]]},{"id":"fe5c86d14bfa51ae","type":"debug","z":"6738539537c7e05e","name":"small payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":260,"y":880,"wires":[]},{"id":"4bbd32ecc75de9a7","type":"mqtt-broker","name":"","broker":"localhost","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"6bfc784e6d177530","type":"global-config","env":[],"modules":{"node-red-contrib-buffer-parser":"3.2.2"}}]